* {
  box-sizing: border-box;
}

.container {
  border-top: 1px solid rgb(112, 111, 111);
  border-left: 1px solid rgb(112, 111, 111);
  width: 800px;
  height: 800px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 25px;
  height: 25px;
  border-right: 1px solid rgb(112, 111, 111);
  border-bottom: 1px solid rgb(112, 111, 111);
  background-color: #fff;
}

.mouseOver {
  background-color: blue;
}
